<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- import font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <title>Add Custom Challenge Page </title>
  </head>
  <body>
	<!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #86E49E;">
    <a class="navbar-brand" href="{{ url_for('home') }}"><img src="https://via.placeholder.com/50" width="30" height="30" alt="">(Yo)UB Sustainable</a>	
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Challenges<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('friend') }}">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dash') }}">Dashboard</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session['logged_in'] == True %}
          <li>
            <a href="{{ url_for('logout') }}" class="btn btn-outline-danger my-2 my-sm-0">Logout</a>
          </li>
                  {% else %}
          <li>
            <a href="{{ url_for('login') }}" class="btn btn-outline-success my-2 my-sm-0">Log In</a>
          </li>
                  {% endif %}
              </ul>
    </div>
  </nav>	
  <!--end of Navbar--> 

  <h3></h3>
  
  <!-- FORM-->
  <form action="{{ url_for('addingcustom') }}", method='post'>
    <!--Challenge Name-->
    <div class="form-group">
      <div class="col-10">
        <label for="ChallengeName"><h5>Challenge Name</h5></label>
        <input type="text" id="challengeName">
      </div>
    </div>

    <!--Challenge Description-->
    <div class="form-group">
      <div class="col-10">
        <label for="Description"><h5>Short Description</h5></label>
        <input type="text" id="shortDescription">
      </div>
    </div>
    
    <!--Duration of Challenge-->
    <div class="form-group">
      <div class="col-10">
        <label for="exampleFormControlSelect1"><h5> Duration of Challenge</h5></label>
        <select class="form-control" id="SelectDuration">
          <option>Daily</option>
          <option>Weekly</option>
          <option>Monthly</option>
        </select>
      </div>
    </div>

    <!--Category of Challenge-->
    <div class="form-group">
      <div class="col-10">
        <label for="exampleFormControlSelect1"><h5>Select Category of Challenge</h5></label>
        <select class="form-control" id="SelectCategory">
          <option>Category 1</option>
          <option>Category 2</option>
          <option>Category 3</option>
        </select>
      </div>
    </div>

    <!--Challenge Impacts-->
    <div class="form-group">
      <div class="col-10">
        <label for="Description"><h5>The Impact</h5></label>
        <input type="text" id="theImpact">
      </div>
    </div>

    <!--Challenge Suggestions-->
    <div class="col-10">
      <div class="form-group">
        <label for="Description"><h5>Helpful Suggestions</h5></label>
        <input type="text" id="Suggestions" aria-describedby="suggestionsHelp">
        <small id="sugegstionsHelp" class="form-text text-muted">Please make them short bullet points(-) :)</small>
      </div>
    </div>
    
    <div class="col-10">
      <!--<button type="submit" class="btn btn-primary">Submit</button>-->
      <div class="msg">{{ msg }}</div>
      <!--<input type="submit" value="Submit">
      <p><a href="{{ url_for('chall_pg8') }}">View your custom challenge!</a></p>-->
      <p><a href="{ url_for('chall_pg8') }}" class="btn btn-info" role="button">Link Button</a></p>
      <!-- edit for redirect in sprint 4 to new html page for this custom challenge -->
      <!--<button type="submit" value="Submit" href="{{ url_for('chall_pg8') }}">-->
    </div>
  </form>
  <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>